{% extends "layout.html" %}

{% block body %}
<div class="d-flex justify-content-center align-items-center text-center">
    <form action="/add" method="post" enctype="multipart/form-data" class="mt-5 p-5">
        <h2 class="text-center">Create a Character</h2>
        <p class="mt-5 text-center">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </p>
        <p class="mt-5 text-center">
            <input type="file" name="file" class="form-control" required>
        </p>
        <div class="mt-5 text-center">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        <br>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <p>{% if category == "error" %}</p>
                {{ message }}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
    </form>
</div>
<div class="fixed-bottom text-center mb-2">
    <a class="btn btn-outline-secondary" href="{{ url_for('index') }}">Go Back</a>
</div>
<script src="/static/validate.js"></script>
{% endblock %}