{% extends "layout.html" %}

{% block body %}
        <h2>Welcome!</h2>
        <p>This is the start of Flask Web Application</p>

        <ul>
        {% for character in characters %}
                <div>{{ character.name }}</div>
                <div>{{ character.info }}</div>
                <img height="150" src="{{ file_location }}/{{ character.image }}" alt="{{ character.name }}">
        {% endfor %}
        </ul>

        <a href="{{ url_for('add') }}">Add Character</a>
        <br>
        <a href="{{ url_for('battle') }}">Battle!</a>
{% endblock %}